

* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.mid {
  flex: 1 0 auto;
}
.down {
  flex: 0 0 auto;

}
body {
  background-image: url(933401.png);
}
.panel-white {

  text-align: center;

}
